In [ ]:
import pandas as pd
import sqlalchemy as sqla

sql = '''
    SELECT
        t1.LastName,
        t1.FirstName, 
        t4.Name,
        t5.Title
    FROM customer t1
    LEFT JOIN invoice t2 
        ON t1.CustomerId = t2.CustomerId
    LEFT JOIN invoiceline t3
        ON t2.InvoiceId = t3.InvoiceId
    LEFT JOIN track t4
        ON t3.TrackId = t4.TrackId
    LEFT JOIN album t5
        ON t4.AlbumId = t5.AlbumId
    ORDER BY t1.LastName, t1.FirstName;'''

db = sqla.create_engine('sqlite:///data/Chinook_Sqlite.sqlite')

df = pd.read_sql(sql, db)

df.head()